body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: 		#000000;
}
header {
    background-color: #ffda54;
    color: #000000;
    box-shadow: 0 10px 50px hsla(0, 0%, 0%, 0.226);
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
}
main {
    padding: 2rem;
}
.intro {
    text-align: center;
    margin: 2rem auto;
    width: 90%;
}
.info-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
    width: 90%;
}
.info-block {
    flex: 1 1 250px;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: #ffda54;
    color: 		#000000;
    box-shadow: 0 8px 12px hsla(0, 0%, 0%, 0.226);
}
.face-recognition {
    text-align: center;
    margin-top: 3rem;
}
.video-container {
    position: relative;
    width: 720px;
    height: 560px;
    margin: 0 auto;
}
#video {
    width: 100%;
    height: auto;
    border-radius: 0rem;
    background-color: #ffda54;
    padding: 0.3rem 0.3rem;
    margin-top: 0rem;
    font-size: 0rem;
    border-radius: 0rem;
    box-shadow: 0 8px 12px hsla(0, 0%, 0%, 0.226);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#start {
    background-color: #ffca08;
    color: #645a00;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
#start:hover {
    background-color: #ffb108;
}